:root {
    --font_color: #333333;
    --bg_color: #f0f0f0;
    --jumbo: #fff;
    --jumby: #eeeeee;
    --nav_bar: #343a40;
    --hover: rgb(100, 155, 205);
    --card: #fff;
    --my_4: rgba(179, 179, 179, 0.8);
    --border: #808080;
    --article: #ffffff;
    --article_border: #cdcdcd;
    --muted: #515559;
    --muted_2: #b0b0b0;
    --form: white;
    --alert: #dc3545;
    --modal: white;
    --img: #fff;
    --link: #007bff;
    --x_symbol: black;
    --coin_bg: #212121;
    --loader_icon: rgb(0, 0, 0);
    transition: background 0.2s ease-in;
}

[data-theme="dark"] {
    --font_color: white;
    --bg_color: #212121;
    --jumbo: #414141;
    --jumby: #606060;
    --nav_bar: #343a40;
    --hover: rgb(100, 205, 255);
    --card: #414141;
    --my_4: rgba(255, 255, 255, 0.8);
    --border: #313131;
    --article: #414141;
    --article_border: #414141;
    --muted: #cbcbcb;
    --muted_2: #b0b0b0;
    --form: white;
    --alert: #ff9090;
    --modal: #414141;
    --img: #343a40;
    --link: #52a6ff;
    --x_symbol: white;
    --coin_bg: #212121;
    --loader_icon: #fff;
    transition: background 0.2s ease-in;
}

span {
    font-family: sans-serif !important;
    font-size: 1rem;
    color: var(--alert);
    font-weight: 400;
    line-height: 1.5;
}

body {
    margin-top: 5.2rem;
    background-color: var(--bg_color);
    color: var(--font_color);
}

a {
    color: var(--font_color);
}

a:hover {
    color: var(--hover);
}

.btn-link {
    color: var(--link);
}

.spaces {
    white-space: break-spaces;
}

.break {
    word-break: break-word;
}

.review_article {
    border-radius: 0.9375rem;
    background-color: var(--article);
}

.text_muted {
    color: var(--muted);
}

.text-muted {
    color: var(--muted) !important;
}

.invalid-feedback {
    color: var(--alert);
}

.my-4 {
    border-top: 0.125rem solid var(--my_4);
}

.my-2 {
    border-top: 0.125rem solid var(--my_4);
}

.no_margin {
    margin: 0;
}

.cute_border {
    border-radius: 0.9375rem !important;
}

.cute_border_for_pictures {
    border-radius: 0.9375rem !important;
    background-color: var(--img);
}

.cuter_border {
    border-radius: 0.9375rem !important;
}

.cute_border_line {
    border: 0.125rem solid var(--article_border);
}

.minigame_container {
    border-radius: 0.9375rem !important;
    background-color: var(--img);
    padding: 0.5rem;
    border: 0.125rem solid var(--article_border);
}

.carou_size {
    width: 75%;
}

.jumbotron {
    color: var(--font_color);
    background-color: var(--jumbo);
}

.figure,
.card {
    color: var(--font_color);
    background-color: var(--card);
}

.modal-content {
    background: var(--modal);
    border: 0.0625rem solid var(--modal);
    border-radius: 0.9375rem !important;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.checkbox,
.checkbox2 {
    opacity: 0;
    position: absolute;
}

.label_check {
    background-color: #111;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-radius: 3.125rem;
    border-bottom: 0;
    height: 1.625rem;
    width: 3.125rem;
    padding: 0.3125rem;
    transform: scale(1.5);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.ball {
    background-color: white;
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    border-radius: 50%;
    height: 1.375rem;
    width: 1.375rem;
    transition: transform 0.2s linear;
}

.checkbox:checked+.label_check .ball {
    transform: translateX(1.5rem);
}

.medium_pic {
    width: 15rem;
    border-radius: 0.9375rem;
}

.small_pic {
    width: 3rem;
    height: 3rem;
    border-radius: 0.625rem;
}

.button_pic {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.profile_pic_container {
    width: 4rem;
    height: 4rem;
    margin: auto !important;
}

.big_icon {
    font-size: 5rem;
}

.margin_left {
    margin-left: 1.5rem;
}

.flex_article {
    display: flex;
}

.jumbito {
    padding: 0.5rem 0 0.5rem 1rem;
    background-color: var(--jumby);
    border-left: 2px solid var(--font_color);
}

.dropdown-menu {
    background-color: var(--jumby);
}

.dropdown-item {
    color: var(--font_color);
}

.margins_total {
    margin: 1rem;
}

.margin_container {
    margin-top: 2rem;
}

.w_50 {
    width: 50% !important;
}

.w_80 {
    width: 80% !important;
}

.w_95 {
    width: 95% !important;
}

.bar_button {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    border-radius: 0 0.4rem 0.4rem 0;
}

.bar_form {
    border-radius: 0.4rem 0 0 0.4rem;
}

.hide_small {
    display: none !important;
}

.profile_button {
    margin-left: auto;
    padding: 0 0 0 0.5rem !important;
}

.order_3 {
    order: 3;
}

.bar_flex {
    display: flex !important;
    flex-direction: row !important;
}

.close {
    color: var(--x_symbol) !important;
    font-size: 2rem !important;
    padding: 0 1rem !important;
    text-shadow: none;
}

.modal-dialog {
    max-width: 100% !important;
}

.modal {
    max-width: 100% !important;
    padding-right: 0 !important;
    background-color: rgba(20, 20, 20, 0.8);
}

.modal-body {
    padding: 0rem .5rem 1.5rem .5rem;
}

.modal-title {
    text-align: center;
    white-space: break-spaces;
}

.modal-header {
    display: block;
    border-bottom: none;
}

.modal-footer {
    padding-bottom: 1.5rem;
    padding-top: 0;
    justify-content: center;
    border-top: none;
}

.col_list {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

.a2a_minigames {
    background-color: transparent !important;
    right: 0;
    top: 200px;
}

.meme_info,
.review_info {
    padding: 0rem 0.5rem 0 0.5rem;
}

#GoogleAd {
    height: 150px !important;
}

.adsbygoogle {
    margin-bottom: 0.5rem !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: 150px !important;
    display: block !important;
}

@media screen and (max-width: 991px) {
    .w_100 {
        width: 100% !important;
    }
    .w_95 {
        width: 100% !important;
    }
    .w_80 {
        width: 100% !important;
    }
    .w_50 {
        width: 100% !important;
    }
    .margin_navbar {
        margin: 0.625rem 0;
    }
    .profile_button {
        padding: 0 !important;
    }
    .hide_small {
        display: inline-block !important;
    }
    .margin_top {
        margin-top: 0.5rem !important;
    }
    .order_3 {
        order: 0;
    }
    .modal-body {
        padding: 0rem .25rem 1rem .25rem;
    }
    .modal-header {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 560px) {
    .carou_size {
        width: 100%;
    }
    .btn_block {
        width: 100% !important;
        display: block;
    }
    .flex_container {
        flex-wrap: wrap;
    }
    .flex_article {
        display: block !important;
    }
    .flex_button {
        margin: 0.3125rem 0 !important;
    }
    .medium_pic {
        width: 12rem !important;
    }
    h1 {
        font-size: 2rem !important;
    }
    h2 {
        font-size: 1.7rem !important;
    }
    h3 {
        font-size: 1.4rem !important;
    }
    h4 {
        font-size: 1.2rem !important;
    }
    h5 {
        font-size: 1rem !important;
    }
    .margin_left {
        margin-left: 0.8rem;
    }
    .margins_total {
        margin: 0.5rem;
    }
    .lead {
        font-size: 1.1rem !important;
    }
    .minigame_container {
        padding: 0.25rem;
    }
}

.page-link {
    background-color: var(--article);
    color: var(--font_color);
}

.dropdown-divider {
    border-top: 0.088rem solid var(--my_4);
}

.fixed_top {
    position: fixed;
    top: 3.51rem;
    left: 0;
    right: 0;
    z-index: 1020;
    padding-top: 0;
    padding-bottom: 0;
}

.breadcrumb {
    background-color: #343a40;
    background-color: var(--nav_bar);
}

.breadcrumb-item {
    color: var(--muted_2);
}

.breadcrumb-item a {
    color: var(--muted_2);
}

.breadcrumb-item.active {
    color: white;
    color: var(--form);
}

.form-control {
    background-color: var(--form);
}

input.invalid {
    background: #ffdddd;
}

.no_border {
    border: none;
    padding: 0;
    margin: 0;
}


/* loading animation */

.loader_container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1030;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid var(--loader_icon);
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--loader_icon);
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}