{% extends "app_bit/base.html" %}{% load filters.py %}{% load social_share %}
<!-- extended from -->
{% block meta_tag %}
<meta property="og:url" content="{{url}}/memes/{{meme.id}}/">
<meta property="og:title" content="{{meme.caption}}">
<meta property="og:description" content="Uploaded by: {{meme.author}} on {{meme.date_updated|date:'F d, Y'}}.">
<meta property="og:image" content="{{meme.meme.url}}">
<meta property="og:image:alt" content="{{meme.caption}}"> {% endblock meta_tag %}
<!---->
{% block title %} {{meme.caption}} {% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-meme' %}">Memes</a></li>
<li class="breadcrumb-item active" aria-current="page">{{meme.author.username}}'s meme</li>
{% endblock bread %}
<!---->
{% block brand %}<a class="navbar-brand hide_small" href="{% url 'gamebit-home' %}">GameBit
    Council</a>{% endblock brand %}
<!---->
{% block search_bar %}
<div class="navbar-nav w_50 mr-auto">
    <form class="d-flex w-100 justify-content-between" action="{% url 'gamebit-meme-search' %}" method="GET">
        <input class="form-control form-control-sm bar_form" name="meme" type="search" placeholder="Search in memes..." aria-label="Search">
        <button class="btn btn-sm btn-secondary bar_button" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</div>
{% endblock search_bar %}
<!--  -->
{% block body %}
<section class="margin_container">
    <section id="Memes" class="">
        <div class="dropleft">
            <div class="dropdown">
                <button class="btn btn-sm btn-secondary dropdown-toggle share_button" type="button" id="ShareDropdown{{review.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Share <i class="fas fa-share-square"></i>
                </button>
                <div class="dropdown-menu cuter_border p-2 stubborn_menu" aria-labelledby="ShareDropdown{{meme.id}}">
                    <div class="dropdown-item cuter_border d-flex justify-content-start">
                        {% post_to_facebook meme 'Facebook' %}
                        <i class="fab fa-facebook-square ml-1 mt-1" aria-hidden="true"></i>
                    </div>
                    <div class="dropdown-item cuter_border d-flex justify-content-start">
                        {% post_to_twitter "Check out our meme: {{meme.caption}}" meme "Twitter" %}
                        <i class="fab fa-twitter-square ml-1 mt-1"></i>
                    </div>
                    <div class="dropdown-item cuter_border d-flex justify-content-start">
                        {% post_to_whatsapp meme 'WhatsApp' %}
                        <i class="fab fa-whatsapp-square ml-1 mt-1"></i>
                    </div>
                    <div class="dropdown-item cuter_border d-flex justify-content-start">
                        {% send_email "Check out our meme: {{meme.caption}}" "" meme "Mail" %}
                        <i class="fas fa-envelope ml-1 mt-1"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="cute_border_for_pictures cute_border_line shadow mb-3 p-2">
            <p class="text-center spaces lead mt-3">{{meme.caption}}</p>
            <hr class="my-2">
            <figure class="d-flex justify-content-center mb-0">
                <button class="no_border cute_border_for_pictures" type="button" data-toggle="modal" data-target="#MemeModal{{meme.id}}">
                    <img class="pr-lg-5 pl-lg-5 cuter_border w-100" src="{{meme.meme.url}}" alt="{{meme.caption}}">
                </button>
            </figure>
            {% if user == meme.author %}
            <hr class="my-2">
            <section class="d-flex justify-content-center" id="ManageButtons">
                <a class="btn btn-primary btn_block m-1" href="{% url 'gamebit-meme-edit' meme.id %}">Edit</a>
                <a class="btn btn-danger btn_block m-1" href="{% url 'gamebit-meme-delete' meme.id %}">Delete</a>
            </section>
            {% endif %}
            <hr class="my-2">
            <div class="d-flex justify-content-start p-2">
                <div class="flex-wrap align-self-center">
                    <p class="text-center mb-0"><a href="{% url 'gamebit-summary' meme.author.id %}"><strong><em>{{ meme.author.username }}</em></strong></a></p>
                </div>
                <article class="margin_left">
                    <small class="text_muted">{{meme.date_updated|date:"F d, Y" }}</small>
                    <hr class="my-2">
                    <small class="text_muted">To check out more content of the author, <strong><em>click their name.</em></strong></small>
                </article>
            </div>
        </div>
    </section>
</section>
<!-- Meme modal -->
<div class="modal fade text-center" id="MemeModal{{meme.id}}" tabindex="-1" role="dialog" aria-labelledby="MemeModalLabel{{meme.id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered w_95" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <icon aria-hidden="true">&times;</icon>
                </button>
                <h5 class="lead modal-title">{{meme.caption}}</h5>
            </div>
            <div class="modal-body">
                <figure class="text-center mb-0 w-100">
                    <img class="cuter_border w-100 pr-lg-5 pl-lg-5 pb-lg-3" src="{{meme.meme.url}}" alt="{{meme.caption}}">
                </figure>
            </div>
        </div>
    </div>
</div>
{% endblock body %}