{% extends "app_bit/base.html" %}{% load static %}
<!-- extended from -->
{% block meta_tag %}
<meta property="og:url" content="{{url}}{% url 'gamebit-meme' %}">
<meta property="og:title" content="GameBit - Memes">
<meta property="og:description" content="Laugh a bit with our uploaded memes!">
<meta property="og:image" content="{% static 'app_bit/home_pictures/Memes_collage_2.jpg' %}">
<meta property="og:image:alt" content="GameBit - Memes"> {% endblock meta_tag %}
<!---->
{% block title %} Memes {% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Memes</li>
{% endblock bread %}
<!---->
{% block brand %}<a class="navbar-brand hide_small" href="{% url 'gamebit-home' %}">GameBit Council</a>{% endblock brand %}
<!---->
{% block search_bar %}
<div class="navbar-nav w_50 mr-auto">
    <form class="d-flex w-100 justify-content-between" action="{% url 'gamebit-meme-search' %}" method="GET">
        <input class="form-control form-control-sm bar_form" name="meme" type="search" placeholder="Search in memes..." aria-label="Search">
        <button class="btn btn-sm btn-secondary bar_button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
</div>
{% endblock search_bar %}
<!--  -->
{% block body %}
<section class="margin_container">
    <section id="MemeTitle" class="text-center jumbotron cuter_border shadow cute_border_line shadow p-3 mb-0">
        <h1 class="display-6">Have a Laugh!</h1>
        <p class="lead">Why not relax a bit seeing memes? You can always read our reviews later.</p>
    </section>
    {% if memes %}
    <hr class="my-4"> {% endif %}
    <section id="Memes" class="row row-cols-1 row-cols-md-2">
        {% for meme in memes %}
        <div class="col mb-2">
            <div class="cute_border_for_pictures cute_border_line shadow p-2">
                <p class="text-center lead spaces mt-3"><a href="{% url 'gamebit-meme-full' meme.id %}">{{meme.caption}}</a></p>
                <hr class="my-2">
                <figure class="d-flex justify-content-center mb-0">
                    <a class="" href="{% url 'gamebit-meme-full' meme.id %}">
                        <img class="cuter_border w-100" src="{{meme.meme.url}}" alt="{{meme.caption}}">
                    </a>
                </figure>
                <hr class="my-2">
                <article id="MemeShare" class="d-flex justify-content-center">
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="{{url}}{% url 'gamebit-meme-full' meme.id %}" data-a2a-title="GameBit Council - {{meme.caption}}">
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                        <a class="a2a_button_whatsapp"></a>
                        <a class="a2a_button_reddit"></a>
                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                    </div>
                </article>
                <hr class="my-2">
                <article class="d-flex justify-content-start p-2">
                    <div class="flex-wrap align-self-center">
                        <p class="text-center mb-0"><a href="{% url 'gamebit-summary' meme.author.id %}"><strong><em>{{ meme.author.username }}</em></strong></a>
                        </p>
                    </div>
                    <div class="margin_left">
                        <small class="text_muted">{{meme.date_updated|date:"F d, Y" }}</small>
                        <br>
                        <small class="text_muted">To check out the full meme, click on the picture</small>
                    </div>
                </article>
            </div>
        </div>
        <!-- Footer Ad container -->
        {% block ad %}
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2466487846238481" data-ad-slot="2150298929" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {% endblock ad %} {% endfor %}
    </section>
</section>
{% endblock body %}