{% extends "app_bit/base.html" %}
<!-- extended from -->
{% block title %}{{review.title}}{% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-review' %}">Reviews</a></li>
<li class="breadcrumb-item active" aria-current="page">{{review.title}}</li>
{% endblock bread %}
<!--  -->
{% block body %}
<section id="Review" class="review_article cute_border cute_border_line shadow p-3 mb-3">
    <article id="ReviewInfo" class="text-center">
        <h1>{{ review.title }}</h1>
        <p class="lead mt-2 mb-0">Is available for:</p>
        <h4>{{ review.platform }}</h4>
        <hr class="w-50 my-2">
    </article>
    <article id="Carrousel" class="d-flex justify-content-center">
        <div id="carouselExampleControls" class="carousel slide carou_size" data-ride="carousel" data-interval="4000">
            <div class="carousel-inner cuter_border shadow">
                <figure class="carousel-item active mb-0">
                    <img class="d-block w-100 cuter_border" src="{{review.thumbnail.url}}" alt="{{review.title}}">
                </figure>
                <!-- for -->
                {% for picture in review.picture_set.all %}
                <figure class="carousel-item mb-0">
                    <img class="d-block w-100 cuter_border" src="{{picture.picture_files.url}}" alt="{{review.title}}">
                </figure>
                <!-- endfor -->
                {% endfor %}
            </div>
            <article class="d-flex justify-content-center mt-3 mb-3">
                <a class="btn btn-block btn-primary" href="{% url 'gamebit-gallery' review.id %}">Gallery</a>
            </article>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </article>
    <article id="ReviewSummary">
        <p class="lead jumbito">General Info: </p>
        <p class="lead spaces mb-0 pl-2 pr-2">{{ review.summary }}</p>
    </article>
    <hr>
    <article id="ReviewContent">
        <p class="lead jumbito">Review: </p>
        <p class="lead spaces mb-0 pl-2 pr-2">{{ review.content }}</p>
    </article>
    {% if review.author == user %}
    <hr class="my-2">
    <section class="d-flex justify-content-center flex_container" id="ManageButtons">
        <a class="btn btn-primary btn_block m-1 flex_button" href="{% url 'gamebit-edit' review.id %}">Edit</a>
        <a class="btn btn-danger btn_block m-1 flex_button" href="{% url 'gamebit-delete' review.id %}">Delete</a>
    </section>
    {% endif %}
    <hr class="my-2">
    <article id="AuthorInfo" class="d-flex justify-content-start mt-3">
        <div class="flex-wrap align-self-center">
            <figure class="mb-0 profile_pic_container">
                <a href="{% url 'gamebit-summary' review.author.id %}"><img class="w-100 h-100 cute_border_for_pictures" src="{{review.author.profile.image.url}}" alt="{{review.author}}"></a>
            </figure>
            <p class="mb-0"><a href="{% url 'gamebit-summary' review.author.id %}"><strong><em>{{ review.author }}</em></strong></a></p>
        </div>
        <div class="margin_left align-self-center">
            <small class="text_muted">{{ review.date_updated|date:"F d, Y" }}</small>
            <hr class="my-2">
            <small class="text_muted">To check out more content of the author, <strong><em>click them.</em></strong></small>
        </div>
    </article>
</section>
<!-- endblock -->
{% endblock body %}