{% extends "app_bit/base.html" %}{% load static %}
<!-- extended from -->
{% block meta_tag %}
<meta property="og:url" content="{{url}}{% url 'gamebit-review' %}">
<meta property="og:title" content="GameBit - Reviews">
<meta property="og:description" content="Check out our latest reviews!">
<meta property="og:image" content="{% static 'app_bit/home_pictures/Review_collage_1.jpg' %}">
<meta property="og:image:alt" content="GameBit - Reviews"> {% endblock meta_tag %}
<!---->
{% block title %}Reviews{% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Reviews</li>
{% endblock bread %}
<!---->
{% block brand %}<a class="navbar-brand hide_small" href="{% url 'gamebit-home' %}">GameBit Council</a>{% endblock brand %}
<!---->
{% block search_bar %}
<div class="navbar-nav w_50 mr-auto">
    <form class="d-flex justify-content-between w-100" action="{% url 'gamebit-search' %}" method="GET">
        <input class="form-control form-control-sm bar_form" name="review" type="search" placeholder="Search in reviews..." aria-label="Search">
        <button class="btn btn-sm btn-secondary bar_button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
</div>
{% endblock search_bar %}
<!---->
{% block body %}
<section class="margin_container">
    <section id="Title" class="text-center jumbotron cute_border cute_border_line shadow p-3 mb-0">
        <h1>Reviews</h1>
        <p class="lead mb-0">Check out our latest reviews</p>
    </section>
    {% if reviews %}
    <hr class="my-4"> {% endif %}
    <!---->
    {% for review in reviews %}
    <section id="Review" class="review_article cute_border cute_border_line shadow mb-3">
        <div class="p-3">
            <article id="AuthorInfo" class="d-flex justify-content-start review_info">
                <div class="flex-wrap align-self-center">
                    <figure class="mb-0 profile_pic_container">
                        <a href="{% url 'gamebit-summary' review.author.id %}"><img class="w-100 h-100 cute_border_for_pictures" src="{{review.author.profile.image.url}}" alt="{{review.author.username}}"></a>
                    </figure>
                    <p class="text-center mb-0"><a href="{% url 'gamebit-summary' review.author.id %}"><strong><em>{{ review.author.username }}</em></strong></a></p>
                </div>
                <div class="margin_left align-self-center">
                    <small class="text_muted">{{ review.date_updated|date:"F d, Y" }}</small>
                    <hr class="my-2">
                    <small class="text_muted">To check out the full review, <em><strong>click on it's title.</strong></em></small>
                </div>
            </article>
            <hr class="my-2">
            <article id="ReviewInfo" class="text-center">
                <h2><a href="{% url 'gamebit-detail' review.id %}">{{ review.title }}</a></h2>
                <p class="lead mt-2 mb-0">Is available for:</p>
                <h4>{{ review.platform }}</h4>
                <hr class="w-50 my-2">
            </article>
            <figure id="ReviewThumbnail" class="text-center">
                <a href="{% url 'gamebit-detail' review.id %}"><img class="cute_border_for_pictures carou_size shadow" src="{{review.thumbnail.url}}" alt="{{review.title}}"></a>
            </figure>
            <article id="ReviewSummary">
                <p class="lead jumbito">General Info: </p>
                <p class="lead spaces mb-0 pl-2 pr-2">{{ review.summary }}</p>
            </article>
            <hr class="my-2">
            <article id="ReviewShare" class="d-flex justify-content-center">
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="{{url}}{% url 'gamebit-detail' review.id %}" data-a2a-title="GameBit Council - {{review.title}}">
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_whatsapp"></a>
                    <a class="a2a_button_reddit"></a>
                    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                </div>
            </article>
        </div>
    </section>
    <!-- Footer Ad container -->
    {% block ad %} <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2466487846238481" data-ad-slot="4244983379" data-ad-format="auto" data-full-width-responsive="true"></ins> {% endblock ad %}
    <!---->
    {% endfor %} {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination d-flex justify-content-center mt-3">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            <!---->
            {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
            <li class="page-item active"><a class="page-link" href="?page= {{ num }}">{{num}}</a></li>
            {% elif num > page_obj.number|add:"-2" and page_obj.number|add:"3" > num %}
            <li class="page-item"><a class="page-link" href="?page= {{ num }}">{{num}}</a></li>
            {% endif %} {% endfor %} {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% endif %} {% endif %}
        </ul>
    </nav>
</section>
<!-- endblock -->
{% endblock body %} {% block script %} {% endblock script %}