{% extends "app_bit/base.html" %}{% load static %}{% load filters.py %}
<!-- extended from -->
{% block meta_tag %}
<meta property="og:url" content="{{url}}{% url 'gamebit-about' %}">
<meta property="og:title" content="GameBit - About">
<meta property="og:description" content="Who are we?">
<meta property="og:image" content="{% static 'app_bit/home_pictures/About_us_collage.jpg' %}">
<meta property="og:image:alt" content="GameBit - About"> {% endblock meta_tag %}
<!---->
{% block title %}About Us{% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">About Us</li>
{% endblock bread %}
<!---->
{% block body %}
<section class="margin_container">
    <section class="jumbotron shadow cute_border cute_border_line">
        <article id="AboutTitle">
            <h1 class="display-4 text-center mb-4"><a href="{% url 'gamebit-home' %}">GameBit - About Us:</a></h1>
        </article>
        <article id="AboutInfo">
            <p class="lead">Welcome to our page where we are interested in providing a place for people to interact and talk about games they want to talk about. We also post our opinions on different games from a variety of platforms (Xbox, Playstation, PC, and other
                platforms)
            </p>
            <p class="lead">We first started as a <a href="https://www.facebook.com/GameBitCouncil/">Facebook page</a> and we have a decent, still a bit small, community that's growing everyday and that motivate us to keep going!</p>
            <p class="lead">This webpage will be focused just to the review part, in the Facebook page we do both, meme-ing around, but also reviewing and sharing our opinions with all of you.</p>
            <div class="alert alert-warning" role="alert">
                <p class="lead mb-0">We do not claim ownership on any of the pictures displayed in the webpage. All the credit goes to their respective artists.</p>
            </div>
            <div class="alert alert-danger" role="alert">
                <p class="lead mb-0">Regarding to memes, we try to keep them as respectful as possible, because, well, it's a meme.</p>
                <p class="text-center lead mb-0">To know more, check <a class="btn-link" href="{% url 'gamebit-rule' %}"><strong>the rules section</strong></a></p>
            </div>
        </article>
        <article>
            <h3>GameBit Staff:</h3>
            <ul>
                {% for user in users %} {% if user|has_group:"Staff Member"%}
                <li>
                    <a class="lead" href="{% url 'gamebit-summary' user.id %}">{{user.username}}</a>
                </li>
                {% endif %} {% endfor %}
            </ul>
        </article>
        <article id="SocialMedia">
            <h3>Social Media:</h3>
            <div class="d-flex justify-content-center">
                <a href="https://www.facebook.com/GameBitCouncil/"><i class="fab fa-facebook-square big_icon"></i></a>
            </div>
        </article>
    </section>
</section>
{% endblock body %}
<!-- Footer Ad container -->
{% block ad %}
<section id="GoogleAds" class="mb-3" style="height: 150px !important;">
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2466487846238481" data-ad-slot="2150298929" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</section>
{% endblock ad %}