{% load static %}{% load filters.py %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google config
        Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KQFZKD4');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D8PW4VJ58X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-D8PW4VJ58X');
    </script>
    <!-- Google AdSense config -->
    <script data-ad-client="ca-pub-2466487846238481" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- End Google config
        Social Meta Tags -->
    <meta property="og:type" content="article"> {% block meta_tag %}{% endblock meta_tag %}
    <meta property="fb:app_id" content="{{facebook}}">
    <!-- End Social Meta Tags-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Styles Tag -->
    {% block icon %}
    <link rel="icon" type="image/jpg" href="{% static 'app_bit/logo.png' %}" /> {% endblock icon %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'app_bit/main.css' %}" /> {% block other_styles %} {% endblock other_styles %}
    <script src="https://kit.fontawesome.com/53c772d881.js" crossorigin="anonymous"></script>
    <!-- End Styles Tag -->
    <title>GameBit-Council - {% block title %} {% endblock title %}</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQFZKD4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top pt-1 pb-1">
            <div class="container">
                <a href="{% url 'gamebit-home' %}"><img class="small_pic mr-2" src="{% static 'app_bit/logo.png' %}" alt="GameBit-Council Logo" /></a>
                {% block brand %}<a class="navbar-brand" href="{% url 'gamebit-home' %}">GameBit Council</a>{% endblock brand %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="margin_navbar collapse navbar-collapse" id="navbarsExample03">
                    {% block search_bar %} {% endblock search_bar %}
                    <div class="navbar-nav margin_top ml-auto">
                        {% if user.is_authenticated %}
                        <div class="nav-item dropdown order_3 bar_flex">
                            <div class="mr-auto pt-lg-2">
                                <a class="nav-item nav-link order-1 d-lg-inline" href="{% url 'gamebit-review' %}">Reviews</a>
                                <a class="nav-item nav-link order-2 d-lg-inline" href="{% url 'gamebit-meme' %}">Memes</a>
                                <a class="nav-item nav-link order-3 d-lg-inline" href="{% url 'gamebit-minigames' %}">Minigames</a>
                            </div>
                            <div class="dropdown">
                                <button class="btn nav-link dropdown-toggle profile_button text-center" href="#" id="UserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="button_pic mr-1" src="{{user.profile.image.url}}" alt="">{{user.username}}
                                </button>
                                <div class="dropdown-menu cuter_border dropdown-menu-right p-2" aria-labelledby="UserDropdown">
                                    {% if user|has_group:"Staff Member" %}
                                    <a class="dropdown-item cuter_border" href="{% url 'gamebit-create' %}">New Review</a> {% endif %}
                                    <a class="dropdown-item cuter_border" href="{% url 'gamebit-meme-create' %}">New Meme</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item cuter_border" href="{% url 'gamebit-profile' %}">Profile <i class="fas fa-user-circle"></i></a>
                                    <div class="dropdown-divider"></div>
                                    <div class="dropdown-item cuter_border label_div" id="theme-change">
                                        <input type="checkbox" class="checkbox" id="checkbox-theme" />
                                        <label for="checkbox-theme" class="label_check theme-change mb-0">
                                            <i class="fas fa-moon"></i>
                                            <i class="fas fa-sun"></i>
                                            <span class="ball"></span>
                                        </label>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item cuter_border" href="{% url 'gamebit-about' %}">About Us <i class="fas fa-info-circle"></i></a>
                                    <a class="dropdown-item cuter_border" href="{% url 'gamebit-logout' %}">Log out <i class="fas fa-sign-out-alt"></i></a>
                                </div>
                            </div>
                            {% else %}
                            <a class="nav-item nav-link order-1" href="{% url 'gamebit-review' %}">Reviews</a>
                            <a class="nav-item nav-link order-2" href="{% url 'gamebit-meme' %}">Memes</a>
                            <a class="nav-item nav-link order-4 d-lg-inline" href="{% url 'gamebit-minigames' %}">Minigames</a>
                            <a class="nav-item nav-link order-5" href="{% url 'gamebit-about' %}">About Us</a>
                            <a class="nav-item nav-link order-6 mr-lg-1" href="{% url 'gamebit-login' %}">Log in</a>
                            <a class="nav-item nav-link btn btn-outline-secondary order-7 mt-1 mt-lg-0" href="{% url 'gamebit-register' %}">Register</a> {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="fixed_top navbar bg-dark navbar-dark" aria-label="breadcrumb">
            <div class="container">
                <ol class="mb-0 breadcrumb p-0 pb-1">
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="{% url 'gamebit-home' %}"> <i class="fas fa-home"></i> </a>
                    </li>
                    {% block bread %} {% endblock bread %}
                </ol>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <section class="row">
            <article class="col-md-12">
                <!--Message StarT-->
                {% if messages %} {% for message in messages %}
                <section class="alert alert-{{ message.tags }}">
                    {{ message }}
                </section>
                {% endfor %} {% endif %}
                <!-- Message END 
                Content START-->
                {% block body %} {% endblock body %}
                <!-- Content END 
                GoogleAd Start-->
                {% block ad %} {% endblock ad %}
                <!-- GoogleAd END -->
            </article>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js "></script>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- bLazy BEGIN -->
    <script>
        // lazy loading
        var bLazy = new Blazy({
            selector: "img",
        });
    </script>
    <!-- bLazy BEGIN 
    Theme Switch BEGIN -->
    <script>
        //determines if the user has a set theme
        function detectColorScheme() {
            var theme = "light"; //default to light

            //local storage is used to override OS theme settings
            if (localStorage.getItem("theme")) {
                if (localStorage.getItem("theme") == "dark") {
                    var theme = "dark";
                }
            } else if (!window.matchMedia) {
                //matchMedia method not supported
                return false;
            } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                //OS theme setting detected as dark
                var theme = "dark";
            }

            //dark theme preferred, set document with a `data-theme` attribute
            if (theme == "dark") {
                document.documentElement.setAttribute("data-theme", "dark");
            }
        }
        detectColorScheme();

        //identify the toggle switch HTML element
        const toggleSwitch = document.querySelector(
            '#theme-change input[type="checkbox"]'
        );

        //function that changes the theme, and sets a localStorage variable to track the theme between page loads
        function switchTheme(e) {
            if (e.target.checked) {
                localStorage.setItem("theme", "dark");
                document.documentElement.setAttribute("data-theme", "dark");
                toggleSwitch.checked = true;
            } else {
                localStorage.setItem("theme", "light");
                document.documentElement.setAttribute("data-theme", "light");
                toggleSwitch.checked = false;
            }
        }

        //listener for changing themes
        toggleSwitch.addEventListener("change", switchTheme, false);

        //pre-check the dark-theme checkbox if dark-theme is set
        if (document.documentElement.getAttribute("data-theme") == "dark") {
            toggleSwitch.checked = true;
        }
    </script>
    <!-- Theme Switch END
    AddToAny BEGIN -->
    <script>
        var a2a_config = a2a_config || {};
        a2a_config.onclick = 1;
        a2a_config.num_services = 6;
    </script>
    <!-- AddToAny END -->
    {% block script %} {% endblock script %}
</body>

</html>