{% extends "app_bit/base.html" %}{% load static %}
<!-- extended from -->
{% block meta_tag %}
<meta property="og:type" content="article">
<meta property="og:url" content="https://gamebit-council.herokuapp.com/{% url 'gamebit-coin' %}">
<meta property="og:title" content="Flip a Coin">
<meta property="og:description" content="Try to flip a coin and let the RNG decide for you!">
<meta property="og:image" content="{% static 'app_bit/home_pictures/mario_coin.png' %}">
<meta property="og:image:alt" content="Flip a Coin">
<meta property="fb:app_id" content="{{facebook}}">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<!---->
{% endblock meta_tag %} {% block icon %}
<link rel="icon" type="image/jpg" href="{% static 'app_bit/coin.png' %}" /> {% endblock icon %}
<!---->
{% block title %}Flip a Coin{% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Flip a Coin</li>
{% endblock bread %}
<!---->
{% block body %}
<section class="container_custom">
    <a class="btn btn-sm btn-primary" href="{% url 'gamebit-home' %}">Go back</a>
    <article id="Title">
        <h2 class="coin_class rng text-center mb-0"><strong><em>Let the RNG decide for you!</em></strong></h2>
    </article>
    <article id="Content" class="padding">
        <h1 class="coin_class decision text-center mb-0"><strong><em>Star or Back?</em></strong></h1>
        <div id="coin" class="play">
            <div class="side-a">
                <div class="circle"></div>
                <i class="far fa-star star"></i>
                <div class="eye">
                    <div class="dot"></div>
                </div>
                <div style="left: 52px !important;" class="eye">
                    <div class="dot"></div>
                </div>
            </div>
            <div class="side-b">
                <div class="circle"></div>
                <div class="rectangle shadow"></div>
            </div>
        </div>
    </article>
    <article id="Footer">
        <h2 class="coin_class coin text-center mb-0"><strong><em>Touch the coin!</em></strong></h2>
    </article>
</section>
{% endblock body %} {% block script %}
<script id="INLINE_PEN_JS_ID">
    jQuery(document).ready(function($) {
        var audioElement = document.createElement('audio');
        audioElement.setAttribute("src", "{% static 'app_bit/Mario-coin-sound.mp3'%}");

        $('.play').click(function() {
            audioElement.play();
        });
        $("#coin").on("click", function() {
            var flipResult = Math.random();
            $("#coin").removeClass();
            setTimeout(function() {
                if (flipResult <= 0.5) {
                    $("#coin").addClass("heads");
                    console.log("it is head");
                } else {
                    $("#coin").addClass("tails");
                    console.log("it is tails");
                }
            }, 100);
        });
    });
</script>
{% endblock script %}