{% extends "app_bit/base.html" %}{% load static %}
<!-- extended from -->
{% block meta_tag %}
<meta property="og:url" content="{{url}}{% url 'gamebit-rule' %}">
<meta property="og:title" content="GameBit - Rules">
<meta property="og:description" content="We'll have nice things if you follow the rules.">
<meta property="og:image" content="{% static 'app_bit/home_pictures/About_us_collage.jpg' %}">
<meta property="og:image:alt" content="GameBit - Rules"> {% endblock meta_tag %}
<!---->
{% block title %}Rules{% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Rules</li>
{% endblock bread %}
<!--  -->
{% block body %}
<section class="margin_container">
    <article class="alert alert-danger">
        <p class="mb-0 lead">As long as the rules are being followed there won't be any kind of issues. So please,
            <strong><em>keep that in mind</em></strong>.</p>
    </article>
    <section class="jumbotron shadow cute_border pt-5 pb-5">
        <article id="RulesTitle" class="mb-4 text-center">
            <h1 style="font-size: 3.5rem;">GameBit - Rules:</h1>
        </article>
        <article class="" id="RulesInfo">
            <ol class="mb-0 ">
                <li>Don't post anything that's blatantly offensive.</li>
                <li>Keep it <a class="btn-link" href="https://en.wiktionary.org/wiki/SFW#English"><strong><em>Safe For
                                Work (SFW)</em></strong></a>, during the day. Lewds may be accepted at night.</li>
                <li>Try to keep memes without <strong><em>racism</em></strong> or <strong><em>heavy
                            politics</em></strong> involved.</li>
                <li>We are a friendly place where everyone can share their opinion. So, <strong><em>keep the toxicity
                            away</em></strong>.</li>
            </ol>
        </article>
    </section>
</section>
<!-- Endblock -->
{% endblock body %}