{% extends "app_bit/base.html" %}
<!-- extended from -->
{% block title %}Rules{% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Rules</li>
{% endblock bread %}
<!--  -->
{% block body %}
<article class="alert alert-danger">
    <p class="mb-0 lead">As long as the rules are being followed there won't be any kind of issues. So please, <strong><em>keep that in mind</em></strong>.</p>
</article>
<section class="jumbotron shadow cute_border pt-5 pb-5">
    <article id="RulesTitle" class="pl-3 mb-4 text-center">
        <h1 class="display-4">GameBit - Rules:</h1>
    </article>
    <article class="pl-2" id="RulesInfo">
        <ol class="mb-0 ">
            <li>Don't post anything that's blatantly offensive.</li>
            <li>Keep it <a class="btn-link" href="https://en.wiktionary.org/wiki/SFW#English"><strong><em>Safe For Work (SFW)</em></strong></a>, during the day. Lewds may be accepted at night.</li>
            <li>Try to keep memes without <strong><em>racism</em></strong> or <strong><em>heavy politics</em></strong> involved.</li>
            <li>We are a friendly place where everyone can share their opinion. So, <strong><em>keep the toxicity away</em></strong>.</li>
        </ol>
    </article>
</section>
<!-- Endblock -->
{% endblock body %}