{% extends "app_bit/base.html" %}{% load static %}{% load filters.py %}
<!-- extended from -->
{% block meta_tag %}
<meta property="og:url" content="{{url}}{% url 'gamebit-minigames' %}">
<meta property="og:title" content="GameBit - Mini Games">
<meta property="og:description" content="Play some games!">
<meta property="og:image" content="{% static 'app_bit/home_pictures/About_us_collage.jpg' %}">
<meta property="og:image:alt" content="GameBit - Mini Games"> {% endblock meta_tag %}
<!---->
{% block title %}Minigames{% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Minigames</li>
{% endblock bread %}
<!---->
{% block body %}
<section class="margin_container">
    <section class="text-center jumbotron cuter_border shadow cute_border_line shadow p-3 mb-0">
        <article id="MiniTitle">
            <h1 class="display-6"><a href="{% url 'gamebit-home' %}">Minigames:</a></h1>
            <p class="lead">Have fun trying some of our Minigames!</p>
        </article>
    </section>
    <hr class="my-4">
    <section id="MiniList" class="row row-cols-2 row-cols-md-3">
        <div class="col_list">
            <div class="minigame_container shadow">
                <p class="text-center"><a href="{% url 'gamebit-coin' %}">Flip a Coin</a></p>
                <figure class="mb-0">
                    <a href="{% url 'gamebit-coin' %}">
                        <img class="w-100 cute_border_for_pictures" src="{% static 'minigames_bit/images/mario_coin.png' %}" alt="Flip a Coin">
                    </a>
                </figure>
            </div>
        </div>
        <div class="col_list d-none">
            <div class="minigame_container shadow">
                <p class="text-center">Cup Shuffle</p>
                <figure class="mb-0">
                    <a href="{% url 'gamebit-cup' %}">
                        <img class="w-100 cute_border_for_pictures" src="{% static 'app_bit/home_pictures/coming soon.jpg' %}" alt="Cup Shuffle">
                    </a>
                </figure>
            </div>
        </div>
        <div class="col_list">
            <div class="minigame_container shadow">
                <p class="text-center">Coming soon...</p>
                <figure class="mb-0">
                    <img class="w-100 cute_border_for_pictures" src="{% static 'app_bit/home_pictures/coming soon.jpg' %}" alt="Coming soon...">
                </figure>
            </div>
        </div>
    </section>
</section>
{% endblock body %}
<!-- Footer Ad container -->
{% block ad %}
<section id="GoogleAds" class="mb-3" style="height: 150px !important;">
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2466487846238481" data-ad-slot="2150298929" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</section>
{% endblock ad %}