{% extends "app_bit/base.html" %}
<!-- extended from -->
{% block title %}Logged Out{% endblock title %}
<!---->
{% block brand %}<a class="navbar-brand" href="{% url 'gamebit-home' %}">GameBit Council</a>{% endblock brand %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Logged Out</li>
{% endblock bread %}
<!--  -->
{% block body %}
<section class="margin_container">
    <h2>You've been logged out.</h2>
    <hr class="my-2">
    <article class="">
        <p class="text-muted mb-0">
            <a class="btn-link" href="{% url 'gamebit-login' %}">Log in again</a>
        </p>
    </article>
</section>
<!-- endblock -->
{% endblock body %}
<!-- Footer Ad container -->
{% block ad %} <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2466487846238481" data-ad-slot="4244983379" data-ad-format="auto" data-full-width-responsive="true"></ins> {% endblock ad %}