{% extends "app_bit/base.html" %}
<!-- extended from -->
{% block title %}Request Done{% endblock title %}
<!---->
{% block brand %}<a class="navbar-brand" href="{% url 'gamebit-home' %}">GameBit Council</a>{% endblock brand %}
<!---->
{% block bread %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-login' %}">Log In</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-reset' %}">Reset Password</a></li>
<li class="breadcrumb-item active" aria-current="page">Request Done</li>
{% endblock bread %}
<!--  -->
{% block body %}
<section class="alert alert-info text-center bigger_space margin_container" role="alert">
    <h2 class="">An email has been sent with instructions to reset your password.</h2>
    <p class="lead">In case the email is nowhere to be seen, check your spam folder too.</p>
</section>
{% endblock body %}
<!-- Footer Ad container -->
{% block ad %} <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2466487846238481" data-ad-slot="4244983379" data-ad-format="auto" data-full-width-responsive="true"></ins> {% endblock ad %}