{% extends "app_bit/base.html" %}
<!-- extended from -->
{% block title %}Request Done{% endblock title %}
<!---->
{% block brand %}<a class="navbar-brand" href="{% url 'gamebit-home' %}">GameBit Council</a>{% endblock brand %}
<!---->
{% block bread %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-login' %}">Log In</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-reset' %}">Reset Password</a></li>
<li class="breadcrumb-item active" aria-current="page">Request Complete</li>
{% endblock bread %}
<!--  -->
{% block body %}
<section class="alert alert-info text-center bigger_space margin_container" role="alert">
    <h2 class="">Your password has been set.</h2>
    <p class="lead">Now you can Sign In!</p>
</section>
<a class="btn btn-info btn_block" href="{% url 'gamebit-login' %}">Sign In</a>
<!---->
{% endblock body %}