{% extends "app_bit/base.html" %} {% load crispy_forms_tags %}
<!-- extended from -->
{% block title %}Password Reset{% endblock title %}
<!---->
{% block brand %}<a class="navbar-brand" href="{% url 'gamebit-home' %}">GameBit Council</a>{% endblock brand %}
<!---->
{% block bread %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-login' %}">Log In</a></li>
<li class="breadcrumb-item active" aria-current="page">Password Reset</li>
{% endblock bread %}
<!--  -->
{% block body %}
<section class="review_article cute_border_line shadow bigger_space p-4 mb-3 ">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="">Reset Password</legend>
            <hr class="my-2">
            <!--  -->
            {{ form|crispy }}
        </fieldset>
        <article class="form-group">
            <button class="btn btn-info btn_block" type="submit">Request Password Reset</button>
        </article>
    </form>
</section>
<!-- endblock -->
{% endblock body %}