{% extends "app_bit/base.html" %} {% load crispy_forms_tags %}{% load filters.py %}
<!-- extended from -->
{% block title %}{{user.username}}'s profile{% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Profile</li>
{% if user|has_group:"Dynamic Duo"%}
<li class="breadcrumb-item" aria-current="page"><a href="/admin">Management</a></li>
{% endif %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-summary' user.id %}">Summary</a></li>
{% endblock bread %}
<!--  -->
{% block body %}
<div class="review_article cute_border cute_border_line bigger_space margin_container mb-3 p-3">
    <section id="GeneralInfo" class="d-flex justify-content-center">
        <article id="UserInfo" class="text-center">
            <img class="medium_pic margins_total" src="{{user.profile.image.url}}" alt="{{user.username}}">
            <!---->
            {% if user.groups.all %}
            <h2 class=""><em>{{user.groups.first}}: {{user.username}}</em></h2>
            {% else %}
            <h2 class=""><em>{{user.username}}</em></h2>
            {% endif %}
        </article>
    </section>
    <section id="UpdateForm" class="p-3">
        <hr class="my-2">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group break mb-0">
                <legend class="mb-0">{{legend}}</legend>
                <hr class="my-2"> {{ up_form|crispy }} {{ pro_form|crispy }}
            </fieldset>
            <article class="form-group mt-3 mb-0">
                <button class="btn btn-success btn_block" type="submit">Save Changes</button>
            </article>
        </form>
    </section>
</div>
<!-- endblock -->
{% endblock body %}
<!-- Footer Ad container -->
{% block ad %} <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2466487846238481" data-ad-slot="4244983379" data-ad-format="auto" data-full-width-responsive="true"></ins> {% endblock ad %}