{% extends "app_bit/base.html" %}{% load static %}{% load crispy_forms_tags %}
<!-- extended from -->
{% block meta_tag %}
<meta property="og:url" content="{{url}}{% url 'gamebit-register'%}">
<meta property="og:title" content="GameBit - Register">
<meta property="og:description" content="Welcome! Register if you want to interact with the page even further.">
<meta property="og:image" content="{% static 'app_bit/home_pictures/About_us_collage.jpg' %}">
<meta property="og:image:alt" content="GameBit - Register"> {% endblock meta_tag %}
<!---->
{% block title %}Register{% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Register</li>
{% endblock bread %}
<!--  -->
{% block body %}
<section class="review_article cute_border_line shadow margin_container p-4 mb-3">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="">{{legend}}</legend>
            <hr class="my-2">
            <section class="">
                {{ form|crispy }}
            </section>
        </fieldset>
        <article>
            <button class="btn btn-info btn_block" type="submit" id="submitBtn">Sign Up</button>
        </article>
    </form>
    <hr class="my-2">
    <article class="">
        <p class="text_muted mb-0">
            Do you already have an account? <a class="ml-2 btn-link" href="{% url 'gamebit-login' %}">Log in</a>
        </p>
    </article>
</section>
<!-- endblock -->
{% endblock body %}
<!-- Footer Ad container -->
{% block ad %} <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2466487846238481" data-ad-slot="4244983379" data-ad-format="auto" data-full-width-responsive="true"></ins> {% endblock ad %}