{% extends "app_bit/base.html" %}{% load static %}
<!-- extended from -->
{% block meta_tag %}
<meta property="og:url" content="{{url}}{% url 'gamebit-summary' author.id %}">
<meta property="og:title" content="GameBit - {{author.username}}' Summary">
<meta property="og:description" content="Check out {{author.username}}'s work.">
<meta property="og:image" content="{{author.profile.image.url}}">
<meta property="og:image:alt" content="GameBit - {{author.username}}' Summary"> {% endblock meta_tag %}
<!---->
{% block title %}{{author.username}}'s Summary{% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">{{author.username}}'s Summary</li>
{% endblock bread %}
<!--  -->
{% block body %}
<div class="review_article cute_border cute_border_line bigger_space margin_container mb-3 p-3">
    <section id="GeneralInfo" class="d-flex justify-content-center">
        <article id="UserInfo" class="">
            <img class="medium_pic margins_total" src="{{author.profile.image.url}}" alt="{{author.username}}">
            <h2 class="text-center"><em>{{author.username}}</em></h2>
        </article>
    </section>
    <hr class="my-2">
    <div class="p-3">
        {% if author.review_set.all %}
        <section id="ReviewsInfo">
            <p class="jumbito lead">Reviews posted:</p>
            <ul>
                {% for review in author.review_set.all %}
                <li><a href="{% url 'gamebit-detail' review.id %}">{{review.title}}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %} {% if author.meme_set.all %}
        <section id="MemesInfo">
            <p class="jumbito lead">Memes posted:</p>
            <ul>
                {% for meme in author.meme_set.all %}
                <li><a href="{% url 'gamebit-meme-full' meme.id %}">{{meme.caption}}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    </div>
</div>
<!-- endblock -->
{% endblock body %}
<!-- Footer Ad container -->
{% block ad %}
<ins class="adsbygoogle mb-3" style="display:block" data-ad-client="ca-pub-2466487846238481" data-ad-slot="2150298929" data-ad-format="auto" data-full-width-responsive="true"></ins>
<!---->
{% endblock ad %}