{% extends "app_bit/base.html" %}
<!-- extended from -->
{% block title %} Gallery{% endblock title %}
<!--  -->
{% block bread %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-review' %}">Reviews</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-detail' review.id %}">{{review.title}}</a></li>
<li class="breadcrumb-item active" aria-current="page">Gallery</li>
{% endblock bread %}
<!--  -->
{% block body %}
<section class="margin_container">
    <article class="alert alert-warning mt-3" role="alert">
        <p class="mb-0">Some pictures may look blurry and stretched when they're displayed, but that's due to the picture resolution. We apologize.</p>
    </article>
    <article class="alert alert-warning mt-3" role="alert">
        <p class="mb-0">We do not claim ownership on any of the pictures displayed. All the credit goes to their respective artists.</p>
    </article>
    <h1 class="text-center">{{review.title}}</h1>
    <section id="ReviewPictures" class="row row-cols-1 row-cols-md-2">
        <div id="Thumbnail" class="col mb-2">
            <article class="cute_border_for_pictures p-2 mt-3 shadow">
                <figure class="text-center mb-0 w-100" href="#">
                    <button class="no_border cute_border_for_pictures" type="button" data-toggle="modal" data-target="#ThumbModal">
                    <img class="cute_border_for_pictures w-100" src="{{review.thumbnail.url}}" alt="{{review.title}}">
                </button>
                    <figcaption>Click the picture to see it in fullscreen.</figcaption>
                </figure>
            </article>
        </div>
        {% for picture in review.picture_set.all %}
        <div id="Pictures" class="col mb-2">
            <article class="cute_border_for_pictures p-2 mt-3 shadow">
                <figure class="text-center mb-0 w-100">
                    <button class="no_border cute_border_for_pictures" type="button" data-toggle="modal" data-target="#PicModal{{picture.id}}">
                    <img class="cute_border_for_pictures w-100" src="{{picture.picture_files.url}}" alt="{{review.title}}">
                </button>
                    <figcaption>Click the picture to see it in fullscreen.</figcaption>
                </figure>
            </article>
        </div>
        <!-- Picture modal -->
        <div class="modal modal_custom fade text-center" id="PicModal{{picture.id}}" tabindex="-1" role="dialog" aria-labelledby="PicModalLabel{{picture.id}}" aria-hidden="true">
            <div class="modal-dialog modal_dialog modal-dialog-centered w_95 m-auto" role="document">
                <div class="modal-content">
                    <div class="d-flex justify-content-start">
                        <button id="x_symbol" type="button" class="close pt-0 pb-0 pl-3 pr-3" data-dismiss="modal" aria-label="Close" value="{{picture.id}}">
                    <icon aria-hidden="true">&times;</icon>
                </button>
                    </div>
                    <div class="modal-body p-1">
                        <figure class="text-center mb-0 w-100">
                            {% if picture.picture_files.width >= 1200 %}
                            <img class="cute_border_for_pictures w_95" src="{{picture.picture_files.url}}" alt="{{review.title}}"> {% elif 1200 > picture.picture_files.width and picture.picture_files.width > 720 %}
                            <img class="cute_border_for_pictures w_80" src="{{picture.picture_files.url}}" alt="{{review.title}}"> {% else %}
                            <img class="cute_border_for_pictures w_100" src="{{picture.picture_files.url}}" alt="{{review.title}}"> {% endif %}
                            <!---->
                            {% if user == review.author %}
                            <article class="d-flex justify-content-center mt-2 mb-2">
                                <a class="btn btn-danger btn-sm btn_block" href="{% url 'gamebit-pic-delete' review.id picture.id %}">Delete the Picture</a>
                            </article>
                            {% endif %}
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    <!-- Thumbnail modal -->
    <div class="modal modal_custom fade text-center" id="ThumbModal" tabindex="-1" role="dialog" aria-labelledby="ThumbModalLabel" aria-hidden="true">
        <div class="modal-dialog modal_dialog modal-dialog-centered w_95 m-auto" role="document">
            <div class="modal-content">
                <div class="d-flex justify-content-start">
                    <button id="x_symbol" type="button" class="close pt-0 pb-0 pl-3 pr-3" data-dismiss="modal" aria-label="Close">
                    <icon aria-hidden="true">&times;</icon>
                </button>
                </div>
                <div class="modal-body p-1">
                    <figure class="text-center mb-0 w-100">
                        {% if review.thumbnail.width >= 1200 %}
                        <img class="cute_border_for_pictures w_95" src="{{review.thumbnail.url}}" alt="{{review.title}}"> {% elif 1200 > review.thumbnail.width and review.thumbnail.width > 720 %}
                        <img class="cute_border_for_pictures w_80" src="{{review.thumbnail.url}}" alt="{{review.title}}"> {% else %}
                        <img class="cute_border_for_pictures w_100" src="{{review.thumbnail.url}}" alt="{{review.title}}"> {% endif %}
                    </figure>
                    <h5 class="modal-title align-self-center pt-2 pb-2" id="ThumbModalLabel">{{review.title}}</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Endblock -->
{% endblock body %}