{% extends "app_bit/base.html" %}
<!-- extended from -->
{% block title %} Gallery{% endblock title %}
<!--  -->
{% block bread %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-review' %}">Reviews</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-detail' review.id %}">{{review.title}}</a></li>
<li class="breadcrumb-item active" aria-current="page">Gallery</li>
{% endblock bread %}
<!--  -->
{% block body %}
<article class="alert alert-warning mt-3" role="alert">
    <p class="mb-0">Some pictures may look blurry and stretched when they're displayed, but that's due to the picture resolution. I apologize.</p>
    <p class="mb-0">We do not claim ownership on any of the pictures displayed. All the credit goes to their respective artists.</p>
</article>
<section class="d-flex flex-column">
    <h1 class="text-center">{{review.title}}</h1>
    <article class="">
        <figure class="cute_border_for_pictures p-3 mt-3 shadow">
            <div class="d-flex justify-content-center w-100" href="#">
                {% if review.thumbnail.width >= 1200 %}
                <a href="{{review.thumbnail.url}}"><img class="cute_border_for_pictures w-100" src="{{review.thumbnail.url}}" alt="{{review.title}}"></a> {% else %}
                <a href="{{review.thumbnail.url}}"><img class="cute_border_for_pictures w_100" src="{{review.thumbnail.url}}" alt="{{review.title}}"></a> {% endif %}
            </div>
        </figure>
    </article>
    {% for picture in review.picture_set.all %}
    <article class="">
        <figure class="cute_border_for_pictures p-3 mt-3 shadow">
            <div class="d-flex justify-content-center w-100">
                <figure class="mb-0">
                    {% if picture.picture_files.width >= 1200 %}
                    <a href="{{picture.picture_files.url}}"><img class="cute_border_for_pictures w-100" src="{{picture.picture_files.url}}" alt="{{review.title}}"></a>{% else %}
                    <a href="{{picture.picture_files.url}}"><img class="cute_border_for_pictures w_100" src="{{picture.picture_files.url}}" alt="{{review.title}}"></a>{% endif %}
                    <!---->
                    {% if user == review.author %}<a class="btn btn-danger btn-block mt-3" href="{% url 'gamebit-pic-delete' review.id picture.id %}">Delete the Picture</a> {% endif %}
                </figure>
            </div>
            </div>

        </figure>
    </article>
    {% endfor %}
</section>
<!-- Endblock -->
{% endblock body %}