{% extends "app_bit/base.html" %}
<!-- extended from -->
{% block title %}Deleting {{review.title}}{% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-review' %}">Reviews</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-detail' review.id %}">{{review.title}}</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'gamebit-gallery' review.id %}">Gallery</a></li>
<li class="breadcrumb-item active" aria-current="page">Deleting...</li>
{% endblock bread %}
<!--  -->
{% block body %}
<section class="review_article cute_border_line shadow margin_container p-4 mb-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="">Deleting the picture for {{review.title}}...</legend>
            <hr class="my-2">
            <article class="alert alert-danger">
                <p class="mb-0 lead">Are you completely sure you want to delete the following picture:</p>
            </article>
            <figure class="cuter_border d-flex justify-content-center mb-0">
                <img class="carou_size cute_border_for_pictures" src="{{picture.picture_files.url}}" alt="{{review.title}}">
            </figure>
        </fieldset>
        <article class="d-flex justify-content-center flex_container">
            <a class="btn btn-secondary btn_block m-2" href="{% url 'gamebit-gallery' review.id %}">Cancel</a>
            <button class="btn btn-danger btn_block m-2" type="submit" id="submitBtn">Yes, delete the Picture</button>
        </article>
    </form>
</section>
<!-- endblock -->
{% endblock body %}
<!-- Ad -->
{% block ad %} <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2466487846238481" data-ad-slot="4244983379" data-ad-format="auto" data-full-width-responsive="true"></ins> {% endblock ad %}