{% extends "app_bit/base.html" %}
<!-- extended from -->
{% block title %} Someone tried to play smart {% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Error 403</li>
{% endblock bread %}
<!--  -->
{% block body %}
<div class="alert alert-warning" role="alert">
    <h3 class="mb-0">I'm not sure what you're trying to do, but you aren't authorized to do it.</h3>
    <h4 class="text-center"><a class="btn-link" href="https://en.wikipedia.org/wiki/HTTP_403">You got: Error 403</a></h4>
</div>
<!-- endblock -->
{% endblock body %}