{% extends "app_bit/base.html" %}
<!-- extended from -->
{% block title %} Someone tried to play smart {% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Error 403</li>
{% endblock bread %}
<!--  -->
{% block body %}
<div class="alert alert-warning" role="alert">
    <h3 class="mb-0">Oops! Sorry, it seems the page you're trying to reach doesn't exist. Check if it's well written and try again!</h3>
    <h4 class="text-center"><a class="btn-link" href="https://en.wikipedia.org/wiki/HTTP_404">You got: Error 404</a></h4>
</div>
<!-- endblock -->
{% endblock body %}