{% extends "app_bit/base.html" %}
<!-- extended from -->
{% block title %} Someone tried to play smart {% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Error 403</li>
{% endblock bread %}
<!--  -->
{% block body %}
<section class="margin_container">
    <div class="alert alert-warning" role="alert">
        <h3 class="mb-0">Oops! Sorry, it seems the page you're trying to reach doesn't exist. Check if it's well written and try again!
            <a class="btn-link" href="https://en.wikipedia.org/wiki/HTTP_404">You got: Error 404</a>
        </h3>
    </div>
</section>
<!-- endblock -->
{% endblock body %}
<!-- Footer Ad container -->
{% block ad %}
<ins class="adsbygoogle" data-ad-client="ca-pub-2466487846238481" data-ad-slot="2150298929" data-ad-format="auto" data-full-width-responsive="true"></ins>
<!---->
{% endblock ad %}