{% extends "app_bit/base.html" %}
<!-- extended from -->
{% block title %} Someone tried to play smart {% endblock title %}
<!---->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">Error 403</li>
{% endblock bread %}
<!--  -->
{% block body %}
<section class="margin_container">
    <div class="alert alert-warning" role="alert">
        <h3 class="mb-0">Well... This is awkward... It seems we've issues on our end. Please try again later
            <a class="btn-link" href="https://www.westhost.com/knowledgebase/display/WES/What+Is+A+500+error">You got: Error 500</a>
        </h3>
    </div>
</section>
<!-- endblock -->
{% endblock body %}